
## Custom sudoers for company
## File Managed by Saltstack


%admins   ALL=(ALL) NOPASSWD:ALL
jsmith ALL=(ALL) NOPASSWD: /usr/bin/traceroute
jsmith ALL=(ALL) NOPASSWD: /usr/bin/kill


{% if salt['pillar.get']('sudoers') %}
{% for line in salt['pillar.get']('sudoers') -%}
{{ line }}
{% endfor %}
{% endif %}