; #########  NEW YORK OFFICE DNS  ############

{% set zone = 'company.nyc.' %}

$TTL    604800
@       IN      SOA     {{ grains.id }}.{{ zone }} admin.company.com. (
                              3         ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800 )   ; Negative Cache TTL

; name servers - NS records
    IN      NS      ns-us1.{{ zone }}
    IN      NS      ns-us2.{{ zone }}

; Datacenter NETWORK
host1.{{ zone }}    IN    A        200.100.1.1
host2.{{ zone }}    IN    A        200.100.1.2
host3.{{ zone }}    IN    A        200.100.1.3
myhost3.{{ zone }}     IN    CNAME    host3

{% include 'formula/bind/files/zones/shared.j2' %}