; Datacenter A
host-a.{{ zone }}        IN       A      192.168.52.21
host-b.{{ zone }}        IN       A      192.168.52.22

; AWS TX
host-c.{{ zone }}     IN      A       172.30.10.1
host-d.{{ zone }}     IN      A       172.30.10.2

; AWS MUMBAI
host-f.{{ zone }}       IN      A     172.92.1.1
host-g.{{ zone }}       IN      A     172.92.1.2
