[Unit]
Description=Airflow-{{env}} webserver daemon
After=network.target postgresql-{{pgver}}.service
Wants=postgresql-{{pgver}}.service
[Service]
EnvironmentFile=/opt/airflow/{{env}}/.env
User=airflow
Group=developers
Type=simple
ExecStart=/bin/bash -c 'source /opt/airflow/{{env}}/.env;source /opt/airflow/venv/bin/activate;airflow webserver --pid /run/airflow/webserver-{{env}}.pid'
Restart=on-failure
RestartSec=5s
PrivateTmp=true
[Install]
WantedBy=multi-user.target
[Service]
RuntimeDirectory=airflow
RuntimeDirectoryMode=0775