# {{ env|capitalize }} ENVIRONMENT
[Unit]
Description=Airflow-{{env}} scheduler daemon
After=network.target postgresql-{{pgver}}.service
Wants=postgresql-{{pgver}}.service
[Service]
EnvironmentFile=/opt/airflow/{{env}}/.env
User=airflow
Group=developers
Type=simple
ExecStart=/bin/bash -c 'source /opt/airflow/{{env}}/.env;/opt/airflow/venv/bin/airflow scheduler'
Restart=always
RestartSec=5s
[Install]
WantedBy=multi-user.target
