[Unit]
Description=Airflow-{{env}} celery worker daemon
After=network.target postgresql-{{pgver}}.service
Wants=postgresql-{{pgver}}.service
[Service]
EnvironmentFile=/opt/airflow/{{env}}/.env
User=airflow
Group=developers
Type=simple
ExecStart=/bin/bash -c 'export C_FORCE_ROOT=True;source /opt/airflow/{{env}}/.env;source /opt/airflow/venv/bin/activate;airflow worker'
Restart=on-failure
RestartSec=10s
[Install]
WantedBy=multi-user.target