#!/bin/bash

action=${1:-'status'}

function start(){
    echo "starting airflow {{env|capitalize}} webserver"
    sudo /bin/systemctl start airflow{{env}}-webserver

    echo "starting airflow {{env|capitalize}} scheduler"
    sudo /bin/systemctl start airflow{{env}}-scheduler

    ## celery worker
    #echo "starting airflow {{env|capitalize}} worker"
    #sudo /bin/systemctl start airflow{{env}}-worker
}

function stop(){
    echo "stopping airflow {{env|capitalize}} webserver"
    sudo /bin/systemctl stop airflow{{env}}-webserver

    echo "stopping airflow {{env|capitalize}} scheduler"
    sudo /bin/systemctl stop airflow{{env}}-scheduler

    #echo "stopping airflow {{env|capitalize}} worker"
    #sudo /bin/systemctl stop airflow{{env}}-worker
}

function status(){
    /bin/systemctl status airflow{{env}}-webserver --no-pager
    /bin/systemctl status airflow{{env}}-scheduler --no-pager
    #/bin/systemctl status airflow{{env}}-worker --no-pager
}

if [ $action == "start" ]
then
    start

elif [ $action == "stop" ]
then
    stop

elif [ $action == "restart" ]
then
    stop
    start

elif [ $action == "status" ]
then
    status
else
    echo "invalid command (start|stop|restart|status)"
fi
