{% include 'formula/monit/files/configs/shared.j2' %}

check filesystem {{ grains.id }}-/ with path /
    if space usage > 95% then alert
    if space usage > 90% then alert
    if space usage > 85% then alert
    if space usage > 80% then alert
    if space usage > 75% then alert

check file kernel-error with path /var/log/messages; if content = "kernel: BUG" then alert

{% if salt['pillar.get']('monit:rules') -%}
{% for rule in salt['pillar.get']('monit:rules') %}
{{ rule -}}
{% endfor %}
{% endif %}

include /etc/monit/configs/*.conf