# MONIT CONFIG: {{ grains.id | upper }}

set daemon 5 # Poll at 5-second intervals
set logfile /var/log/monit.log
set eventqueue basedir /home/monit/tmp slots 1000
set mmonit http://monit:monit@host1:19840/collector

set httpd port 19841
    allow localhost
    allow 127.0.0.1
    allow host1
    allow monit:monit