#==========================  company WHITELIST  =====================================

## Allow all loopback (lo0) traffic
-A INPUT -i lo -j ACCEPT

## Drop all traffic to 127/8 that doesn't use lo0
-A INPUT ! -i lo -d 127.0.0.0/8 -j DROP

## Accept inbound traffic for already established connections.
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT

## Effectively allow all outbound traffic.
-A OUTPUT -m state --state NEW,RELATED,ESTABLISHED -j ACCEPT

## Allow ping
-A INPUT -p icmp -m icmp --icmp-type 8 -j ACCEPT

## Whitelist
-A INPUT -s 192.168.55.0/24 -j ACCEPT {# my trusted network A #}
-A INPUT -s 192.168.99.0/24 -j ACCEPT {# my trusted network N #}
-A INPUT -p udp --dport 4242 -j ACCEPT {# nebula #}
-A INPUT -m pkttype --pkt-type multicast -j ACCEPT
-A INPUT -m pkttype --pkt-type broadcast -j ACCEPT

#==========================  company WHITELIST  =====================================

{% if salt['pillar.get']('iptables:whitelist') -%}
{% set whitelist = salt['pillar.get']('iptables:whitelist') %}
{% for ip in whitelist -%}
-A INPUT -s {{ ip }} -p tcp{% if whitelist[ip] %} -m multiport --dports {{ whitelist[ip] }}{% endif %} -j ACCEPT
{% endfor -%}
{% endif -%}

{% if salt['pillar.get']('iptables:udp') -%}
{% set whitelist = salt['pillar.get']('iptables:udp') %}
{% for ip in whitelist -%}
-A INPUT -s {{ ip }} -p udp -m udp {% if whitelist[ip] %}-m multiport --dports {{ whitelist[ip] }}{% endif %} -j ACCEPT
{% endfor -%}
{% endif -%}
