
{# Geberates routes to /etc/sysconfig/network-scripts/route-IFACE on CENTOS 7 #}

{% for rt in salt['pillar.get']('network:routes:{0}:networks'.format(interface)) -%}
{{ rt.ipaddr }} via {{ rt.gateway }} {% if rt.metric %}metric {{ rt.metric }}{% endif %}
{% endfor -%}
