
{# sample routes for a host with non-bonded ifaces, identical routes per iface for redundancy #}

{% if interface == 'p2p1' -%}
1.2.3.4 via 192.168.31.17 metric 100  {# sample route #}
5.6.7.8 via 192.168.31.17 metric 100  {# sample route #}

{% elif interface == 'p2p2' -%}
1.2.3.4 via 192.168.31.22 metric 200  {# sample route #}
5.6.7.8 via 192.168.31.22 metric 200  {# sample route #}
{% endif %}
