
{# RHEL9 NetworkManager route maker - generates routes to interface j2 file -#}

{% for gw, routes in route_data[iface].items() %}
{% for route in routes -%}
route{{loop.index}}={{ route }},{{ gw }},100
{% endfor -%}
{% endfor -%}