LoadModule  headers_module        /usr/lib64/httpd/modules/mod_headers.so
LoadModule  proxy_wstunnel_module /usr/lib64/httpd/modules/mod_proxy_wstunnel.so

#### NON EXISTENT VHOSTS

ProxyRequests Off
RewriteEngine On

ErrorLog /var/log/httpd/error.log

<VirtualHost *:80>
    ServerName ftp.company.com
    ServerAlias ftp
    Redirect permanent / https://www.company.com
</VirtualHost>

<VirtualHost *:443>
    ProxyPreserveHost On
    ServerName ftp.company.com
    ServerAlias ftp

    SSLEngine On
    SSLProxyEngine On
    SSLProxyVerify none
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerExpire off
    SSLProxyCheckPeerName off 
    SSLCertificateKeyFile   /etc/ssl/certs/sample.key
    SSLCertificateFile      /etc/ssl/certs/sample.crt
    SSLCACertificateFile    /etc/ssl/certs/sample.crt
    
    ProxyRequests on
    ProxyPass        / http://www.company.com/ nocanon
    ProxyPassReverse / http://www.company.com/
    RequestHeader set X-Forwarded-Proto "https"
</VirtualHost>
