<VirtualHost *:80>
        ServerName jenkins.company.com
        ServerAlias jenkins
        ServerAdmin admin@mydomain.vm
 
        Redirect / https://jenkins.company.com
</VirtualHost>
 
<Virtualhost *:443>
    ServerName jenkins.company.com
    ServerAlias jenkins
 
        LogLevel info
        LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
        ErrorLog /var/log/httpd/jenkins_error.log
        CustomLog /var/log/httpd/jenkins_access.log combined
 
        SSLEngine on
        SSLProxyEngine on
 
        # SSL certificate and keys. Edit paths to whereever your SSL files are located
        SSLCertificateKeyFile /etc/ssl/certs/jenkins.key
        SSLCertificateFile /etc/ssl/certs/jenkins.crt
        
        ProxyRequests Off
        ProxyPreserveHost On
        RewriteEngine On
        RequestHeader set X-Forwarded-Proto "https"
        AllowEncodedSlashes NoDecode
 
        ProxyPass / http://localhost:8080/ nocanon
        ProxyPassReverse / http://localhost:8080/
 
        <Proxy http://localhost:8080/*>
                Order deny,allow
                Allow from all
        </Proxy>
 
        ProxyTimeout 120
</Virtualhost>