LoadModule  headers_module        /usr/lib64/httpd/modules/mod_headers.so
LoadModule  proxy_wstunnel_module /usr/lib64/httpd/modules/mod_proxy_wstunnel.so


#### Sample Website proxy

ProxyRequests Off
RewriteEngine On

ErrorLog /var/log/httpd/netportal_error.log

<VirtualHost *:80>
    ServerName website.company.com
    ServerAlias website
    Redirect / https://website.company.com
</VirtualHost>

<VirtualHost *:443>
    
    ServerName website.company.com
    ServerAlias website

    SSLEngine On
    SSLProxyEngine On
    SSLProxyVerify none
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerExpire off
    SSLProxyCheckPeerName off

    
    Include /etc/letsencrypt/options-ssl-apache.conf
    SSLCertificateFile /etc/letsencrypt/live/website.company.com/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/website.company.com/privkey.pem
    SSLCertificateChainFile /etc/letsencrypt/live/website.company.com/chain.pem

    Header always append X-Frame-Options SAMEORIGIN
    RequestHeader set X-SCHEME https
    ProxyPreserveHost On

    <Location /api/>
        ProxyPass http://localhost:5101/    
        ProxyPassReverse http://localhost:5101/
    </Location>

    
    <Location />
        RequestHeader set X-SCHEME https
        ProxyPass        / http://0.0.0.0:5100/ nocanon
        ProxyPassReverse / http://0.0.0.0:5100/
    </Location>
    # RequestHeader set X-Forwarded-Proto "https"
</VirtualHost>
