#!/bin/bash
# takes large audit logs, tars them and moves them to NAS server

cd /var/log/audit

files=$(find . -xdev -type f -size +{{ salt['pillar.get']('audit:max_log_file', '200') }}M)
timestamp=$(date +"%Y%m%d_%H%M%S")
hcdir="/mnt/nas/audit"

for file in $files; do
    fname=${file##*/}
    tar -cvpJf ${timestamp}_${fname}.xz $fname
    mv ${timestamp}_${fname}.xz $hcdir/
    rm $fname
done
