{% include 'formula/monit/files/configs/shared.j2' %}

check system {{ grains.id }}
    if memory > 90% then exec "/etc/monit/scripts/top.py mem"
    if loadavg (5min) > 55 for 2 times within 4 cycles then exec "/etc/monit/scripts/top.py cpu"

check filesystem root-/ with path /
    if space usage > 80% then exec "/etc/monit/scripts/snapshot_files.py /"
    if space usage > 85% then alert
    if space usage > 90% then alert
    if space usage > 95% then alert


check filesystem {{ grains.id }}-/home with path /home
    if space usage > 80% then exec "/etc/monit/scripts/snapshot_files.py /home"
    if space usage > 85% then alert
    if space usage > 90% then alert
    if space usage > 95% then alert

check filesystem {{ grains.id }}-/opt with path /opt
    if space usage > 80% then exec "/etc/monit/scripts/snapshot_files.py /opt"
    if space usage > 85% then alert
    if space usage > 90% then alert
    if space usage > 95% then alert

check filesystem {{ grains.id }}-/var with path /var
    if space usage > 80% then exec "/etc/monit/scripts/snapshot_files.py /var"
    if space usage > 85% then alert
    if space usage > 90% then alert
    if space usage > 95% then alert

check filesystem {{ grains.id }}-/mnt/hc with path /data
    if space usage > 80% then exec "/etc/monit/scripts/snapshot_files.py /data"
    if space usage > 85% then alert
    if space usage > 90% then alert
    if space usage > 95% then alert

{% if salt['pillar.get']('monit:rules') -%}
{% for rule in salt['pillar.get']('monit:rules') %}
{{ rule -}}
{% endfor %}
{% endif %}

include /etc/monit/configs/*.conf
