{% include 'formula/monit/files/configs/shared.j2' %}

check filesystem {{ grains.id }}-/ with path /
    if space usage > 95% then alert
    if space usage > 90% then exec "/etc/monit/scripts/snapshot_files.py /"
    if space usage > 85% then alert
    if space usage > 80% then alert
    if space usage > 75% then alert

check process DNS-named matching "/usr/sbin/named -u named -c /etc/named.conf"