{% include 'formula/monit/files/configs/shared.j2' %}

check filesystem {{ grains.id }}-/ with path /
    if space usage > 95% then alert
    if space usage > 90% then alert
    if space usage > 85% then alert
    if space usage > 80% then alert
    if space usage > 75% then alert

check host openvpn-service with address 0.0.0.0
    if failed port 1194 type udp then alert

{% if salt['pillar.get']('monit:rules') -%}
{% for rule in salt['pillar.get']('monit:rules') %}
{{ rule -}}
{% endfor %}
{% endif %}