{% set cred = pillar.get('s3_cred') -%}  {# This cred comes from Salt SDB, via data.restic_os_s3 pillar #}
export RESTIC_REPOSITORY=s3:https://s3.amazonaws.com/my-bucket/restic/{{ grains.id }}
export AWS_SECRET_ACCESS_KEY={{ cred["aws_access_key"] }}
export AWS_ACCESS_KEY_ID={{ cred["aws_access_key_id"] }}
export RESTIC_PASSWORD="{{ cred["restic_pw"] }}"
export https_proxy=http://proxy-host:<proxy-port>
