{# default Exclusion list #}
{%- set exlist = [
    "*.swp", 
    "/home/*/.local/share/Trash",
    "/home/*/.Trash",
    "/home/*/.thumbnails",
    "/home/*/logs",
    "/home/*/tmp",
    "/home/*/.cache",
    "/root/.cache",
    "**/*.log",
    "**.log",
    "*.log"] 
-%}

{# parse through Includes, if path is Included, remove from Exclusion list #}
{%- if salt['pillar.get']('restic:include') -%}
    {%- for include_line in salt['pillar.get']('restic:include') -%}

        {# if Include from pillar matches default Exclusion list, remove it from Exclusion #}
        {%- if include_line in exlist -%}
            {# get index of Include path, remove from exclude list #}
            {%- set idx = exlist.index(include_line) -%}
            {%- set exlist = exlist.pop(idx) -%}
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}

{# generate Default exlcusion list from array #}    
{%- for ex_line in exlist %}
{{ ex_line -}}
{% endfor -%}

{# add additional Excludes from pillar #}
{%- if salt['pillar.get']('restic:exclude') -%}
{%- for ex_line in salt['pillar.get']('restic:exclude') %}
{{ ex_line -}}
{% endfor %}
{% endif %}
