/home
/root
/etc
/var/spool
/var/cache/salt
/var/www
/opt
/boot
{%- if salt['pillar.get']('restic:include') -%}
{% for line in salt['pillar.get']('restic:include') %}
{{ line -}}
{% endfor %}
{% endif %}
