<html>
<head>
<style type="text/css">
body {  
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 8px;
}
hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

</style>
</head>
<body>

<div>
<h1>Watcher - Dell Firmware Update Report</h1>
</div>

<div>
    <hr>
    {% for host, data in report.items() %}
        <h1>{{host}}</h1>
        <b>SN</b> {{grains[host]["serial"][host]}} | <b>Model</b> {{grains[host]["model"][host]}} | <b>Kernel</b> {{grains[host]["kernel"][host]}}<br>
            
        {% if data %}
            {% for k, v in data.items() %}
                <span style="color:#59696D">{{ k }}</span> &nbsp;{{ v["current"] }}
                {% if v["available"] %}
                    {% if v["critical"] %} > <span style="background-color:#ff8e97"><b>{{v["available"]}}</b></span>
                    {% else %} > <span style="background-color:#FBF5A5">{{ v["available"] }}</span>
                    {% endif %}
                {% endif %}
                <br>
            {% endfor %}     
            <br>
        {% else %}
        No data for host
        {% endif %}
        <hr>
    {% endfor %}
</div>
</html>
