<html>
<head>
<style type="text/css">
body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 8px;
}
.key {
    font-fize: 8px;
    color: #5D6A84;
}

hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
table.blueTable {
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 9px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #001F70;
  background: -moz-linear-gradient(top, #405794 0%, #19357e 66%, #001F70 100%);
  background: -webkit-linear-gradient(top, #405794 0%, #19357e 66%, #001F70 100%);
  background: linear-gradient(to bottom, #405794 0%, #19357e 66%, #001F70 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 9px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
  font-size: 9px;
}

table.blueTable tfoot {
  font-size: 9px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 9px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 5px;
  border-radius: 3px;
}

</style>
</head>
<body>
<div>
<h1>Watcher - Physical Server Info</h1> ({{date}})
</div>

<div>
    <hr>
    <table class="blueTable">
        <thead>
            <tr>
                <th>Host</th>
                <th>Kernel</th>
                <th>BIOS</th>
                <th>Model</th>
                <th>CPU</th>
                <th>MEM</th>
                <th>Ifaces</th>
                <th>Disks</th>
                <th>Onload<th>
            </tr>
        </thead>
    {% for host, data in ret.items() %}
        <tr>
            <td>{{ host }}</td>
            <td>{{ data["os"] }} {{ data["osrelease"] }}<br>{{ data["kernelrelease"] }}<br><span class="key">{{ data["kernelversion"] }}</span></td>
            <td>{{ data["biosversion"] }}<br><span class="key">{{ data["biosreleasedate"] }}</span></td>
            <td>SN: {{data["serialnumber"] }}<br>{{ data["manufacturer"] }}<br>{{ data["productname"] }}</td>
            <td>
                {{ data["num_cpus"] }} cores<br>{{ data["cpu_model"] }} <br>
                {% if data["isolcpus"] %} Isolated CPUs: {{ data["isolcpus"] }} <br>{% endif %}
                {% if data["ht"] == "1" %} Hyper Threading enabled<br>{% endif %}
            </td>
            <td><span class="key">RAM</span> {{ "{:,.0f}".format(data["mem_total"]/1000) }} GB<br><span class="key">Swap</span> {{ "{:,.0f}".format(data["swap_total"]/1000) }} GB</td>
            <td>
                {% for iface in data["ip4_interfaces"] %}
                    {% if not iface in ["lo", "idrac"] and data["ip4_interfaces"][iface] %}
                        <span class="key">{{ iface }}</span> {{ data["ip4_interfaces"][iface][0] }}<br>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for mount in data["disks"] %}
                    {% if mount in ["/home", "/mnt/hc", "/mnt/hc2", "/var", "/opt", "/boot", "/"] %}
                        <span class="key">{{ mount }}</span> &nbsp;
                        {% if data["disks"][mount]["capacity"] > "80%" %}
                            <font color="#A82908">{{ data["disks"][mount]["capacity"] }} of {{ "{:,.2f}".format(data["disks"][mount]["1K-blocks"]|int / 1048576) }} GB</font> <br>
                        {% else %}
                            {{ data["disks"][mount]["capacity"] }} of {{ "{:,.2f}".format(data["disks"][mount]["1K-blocks"]|int / 1048576) }} GB<br>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </td>
            <td>{{ data["onload"]}} <br>
                {% if data["ptp"] %}PTP: {{ data["ptp"] }} {% endif %} <br>
            </td>



        </tr>
    {% endfor %}
    </table>
</div>
</html>
