{% set cred = pillar.get('ec2_cred') -%}

ec2ohio:
  driver: ec2
  vpcid: vpc-123456
  id: {{ cred["id"] }}
  key: {{ cred["key"] }}
  location: us-east-2
  availability-zone: us-east-2c
  del_root_vol_on_destroy: True
  del_all_vols_on_destroy: True
  rename_on_destroy: True
  ssh_username: rocky
  private_key: /home/salt/.ssh/ec2.pem
  keyname: aws_ohio
  minion:
    master: <SaltMaster IP>
  ssh_interface: public_ips
  sync_after_install: all   # sync grains, modules, etc