

    [My Company]
    Name: {{ grains.id }}
    Serial #: {{ grains.serialnumber }}
    Company Environment: {{ salt['pillar.get']('env', 'UNKNOWN') }}
    Role: {{ salt['pillar.get']('role', 'default') }}
    OS: {{ grains.oscodename }} {{ grains.osrelease }}
    Region: {{ salt['pillar.get']('region', 'uknown')|upper }} 
    For more system info, run 'glances'
    

