acl "trusted" {
        ## list any networks that should be allowed to query this DNS server
        172.30.0/24;     # AWS TX
        192.168.52.0/24; # Office Network
        localhost;

};

options {
        listen-on port 53 { {{ listen }}; };
        directory "/var/named";
        dump-file     "/var/named/data/cache_dump.db";
        statistics-file "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";
        allow-transfer { {{ peer_ip }}; };      # disable zone transfers by default
        allow-query { trusted; };  # allows queries from "trusted" clients
        allow-query-cache { trusted; };
        recursion yes;
        dnssec-enable yes;
        dnssec-validation yes;
        dnssec-lookaside auto;
        forwarders {
            8.8.8.8;
            8.8.4.4;
        };
};

zone "." IN {
    type hint;
    file "named.ca";
};

{% for zone in zones %}
zone "{{ zone }}" IN {
    type {{ type }};
    file "/var/named/zones/forward.{{ zone }}";
    {%- if type == 'slave' %}
    masters { {{ peer_ip }}; };
    {% endif %}
};
{% endfor %}
