# options = --force
when = {{ salt['pillar.get']('run_backup', 'everyday at 02') }}

[source]
type = local

## how many days of data to keep
## (you can also use the time format of rdiff-backup, e.g. 6D5h)
## (to keep everything, set this to yes)
## an example setting would be:
##keep = yes
##
## Default:
# keep = 60
keep = yes

# A few notes about includes and excludes:
# 1. include, exclude and vsinclude statements support globbing with '*'
# 2. Symlinks are not dereferenced. Moreover, an include line whose path
#    contains, at any level, a symlink to a directory, will only have the
#    symlink backed-up, not the target directory's content. Yes, you have to
#    dereference yourself the symlinks, or to use 'mount --bind' instead.
#    Example: let's say /home is a symlink to /mnt/crypt/home ; the following
#    line will only backup a "/home" symlink ; neither /home/user nor
#    /home/user/Mail will be backed-up :
#      include = /home/user/Mail
#    A workaround is to 'mount --bind /mnt/crypt/home /home' ; another one is to
#    write :
#      include = /mnt/crypt/home/user/Mail
# 3. All the excludes come after all the includes. The order is not otherwise
#    taken into account.

# files to include in the backup
include = /var/spool/*
include = /var/backups
include = /var/cache
include = /etc
include = /root
include = /home
include = /usr/local/*bin
include = /opt
include = /boot

exclude = /home/*/.gnupg
exclude = /home/*/.local/share/Trash
exclude = /home/*/.Trash
exclude = /home/*/.thumbnails
exclude = /home/*/.beagle
exclude = /home/*/.aMule
exclude = /home/*/gtk-gnutella-downloads
exclude = /var/cache/backupninja/duplicity
exclude = **.log

######################################################
## destination section
## (where the files are copied to)

[dest]
type = remote
directory = /data/server_backups/backupninja/{{ grains.id }}
host = host1
user = backupninja
