# Telegraf Configuration

# Configuration for telegraf agent
[agent]
  interval = "10s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = ""
  debug = false
  quiet = false
  logfile = "/var/log/telegraf/telegraf.log"
  hostname = "{{ grains.id }}"
  omit_hostname = false

###############################################################################
#                            OUTPUT PLUGINS                                   #
###############################################################################


[[outputs.influxdb]]
    urls = ["http://influxdb:8086"]
    database = "telegraf"
    timeout = "0s"
    username = "admin"
    password = "companymetrics"
    retention_policy = ""

# # Send telegraf metrics to file(s)
[[outputs.file]]
#   ## Files to write to, "stdout" is a specially handled file.
    files = ["stdout", "/var/log/telegraf/metrics.out"]
    data_format = "splunkmetric"


# # A plugin that can transmit metrics over HTTP
#[[outputs.http]]
#   ## URL is the address to send metrics to
#    url = "http://splunk:8088/services/collector"
#    data_format = "splunkmetric"
#    splunkmetric_hec_routing = true

#    [outputs.http.headers]
#      Content-Type = "application/json"
#      Authorization = "Splunk f8xxxxd3-4xx1-4xx2-aeda-86xxxxxb36c"
#      X-Splunk-Request-Channel = "f8xxxxx3-4xx1-4xx2-aeda-8xxxxxxx6c"

###############################################################################
#                            INPUT PLUGINS                                    #
###############################################################################

# Read metrics about cpu usage
[[inputs.cpu]]
  ## Whether to report per-cpu stats or not
  percpu = true
  ## Whether to report total system cpu stats or not
  totalcpu = true
  ## If true, collect raw CPU time metrics.
  collect_cpu_time = false
  ## If true, compute and report the sum of all non-idle CPU states.
  report_active = false

     [inputs.cpu.tags]
     index = "cpu_metrics"

# Read metrics about disk usage by mount point
[[inputs.disk]]
  ## By default stats will be gathered for all mount points.
  ## Set mount_points will restrict the stats to only the specified mount points.
  # mount_points = ["/"]

  ## Ignore mount points by filesystem type.
  ignore_fs = ["tmpfs", "devtmpfs", "devfs"]


# Read metrics about disk IO by device
[[inputs.diskio]]

# Get kernel statistics from /proc/stat
[[inputs.kernel]]
  # no configuration


# Read metrics about memory usage
[[inputs.mem]]
  # no configuration


# Get the number of processes and group them by status
[[inputs.processes]]
  # no configuration


# Read metrics about swap memory usage
[[inputs.swap]]
  # no configuration


# Read metrics about system load & uptime
[[inputs.system]]
  # no configuration


# # # Monitor process cpu and memory usage
# [[inputs.procstat]]
#   ## pattern as argument for pgrep (ie, pgrep -f <pattern>)                
#   pattern = "httpd|java|python|telegraf"      
#   ## user as argument for pgrep (ie, pgrep -u <user>)                   
#   user = "daemon|root|telegraf"	
