{% set host = grains.id %}
pki:
  # The CAs that are accepted by this node. Must contain one or more certificates created by 'nebula-cert ca'
  ca: /opt/nebula/certs/ca.crt
  cert: /opt/nebula/certs/{{ host }}.crt
  key: /opt/nebula/certs/{{ host }}.key

static_host_map:
  {% for agent, data in cfg.items() -%}
    {% if "aka" in cfg[agent] %}
      "{{ cfg[agent]['neb_ip'] }}": ["{{ cfg[agent]['listen'] }}:4242",{% for ip in cfg[agent]['aka'] -%}"{{ ip }}:4242", {% endfor -%}] ## {{ agent }}
    {% else %}
      "{{ cfg[agent]['neb_ip'] }}": ["{{ cfg[agent]['listen'] }}:4242"] ## {{ agent }}
    {% endif -%}
  {% endfor %}

lighthouse:
  {% if "am_lh" in cfg[host] -%}
  am_lighthouse: true
  {% else -%}
  am_lighthouse: false
  {% endif -%}
  interval: 10
  hosts:
    {% if "am_lh" in cfg[host] -%}
    - "{{ cfg[host]["neb_ip"] -}}"
    {% else -%}
    {% for lh in cfg[host]["lh_hosts"] -%}
    - "{{ lh -}}"
    {% endfor -%}
    {% endif %}

listen:
  # To listen on both any ipv4 and ipv6 use "[::]"
  host: 0.0.0.0
  port: 4242

punchy:
  # Continues to punch inbound/outbound at a regular interval to avoid expiration of firewall nat mappings
  punch: true

{% set r = cfg[host]['listen'].split('.') %}
preferred_ranges: ["{{ r[0] }}.{{ r[1] }}.{{ r[2] }}.0/24"]

relay:
  {% if "am_relay" in cfg[host] -%}
  am_relay: true
  use_relays: false
  {% else -%}
  am_relay: false
  {% if "relays" in cfg[host] -%}
  use_relays: true
  relays:
    {% for r in cfg[host]["relays"] -%}
    - {{ r }}
    {% endfor -%}
  {% else -%}
  use_relays: false
  {% endif -%}
  {% endif -%}


# Configure the private interface. Note: addr is baked into the nebula certificate
tun:
  # When tun is disabled, a lighthouse can be started without a local tun interface (and therefore without root)
  disabled: false
  dev: nebula
  drop_local_broadcast: false
  drop_multicast: false
  tx_queue: 500
  mtu: 1300


logging:
  # panic, fatal, error, warning, info, or debug. Default is info
  level: info
  # json or text formats currently available. Default is text
  format: text

# Nebula security group configuration
firewall:
  conntrack:
    tcp_timeout: 12m
    udp_timeout: 3m
    default_timeout: 10m

  outbound:
    # Allow all outbound traffic from this node
    - port: any
      proto: any
      host: any

  inbound:
    - port: any
      proto: any
      host: any